@{
    ViewBag.Title = "Home Page";
}

<h2>@ViewBag.Message</h2>
<p>
    <img src="~/Content/images/get_app_store.png" /><br/>
    <img src="~/Content/images/get_google_play.png" /><br />
    <img src="~/Content/images/get_windows_phone_store.png" />
</p>

<ul data-role="listview" data-inset="true">
    <li data-role="list-divider">Navigation</li>
    <li>@Html.ActionLink("About", "About", "Home")</li>
    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
</ul>